@import "tailwindcss";

/*FONTS*/
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*HAMBURGER MENU SCROLLBAR*/
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #00A84F;
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-always {
  scrollbar-gutter: stable both-edges;
}

#particles{
  z-index: -1;
}